.card-img-top {
    width: 20%;
    height: 350;
    object-fit: cover;
}

.menu__serie {
    display: flex;
    flex-direction: row;
}

.caratula-contenedor{


    .imagen {
        text-align: center;
    }
}

.capitulos{
    .titulo {
        text-align: center;
    }
}

// .cast-contianer{
  
// }

.imagenCast{
    margin: auto;
}

